<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>workshop</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
<div class="main">

    <h1 class= "nav__title">
        Skills
    </h1>
    <ul class="nav">
        <li class="nav__item">
            <p class="nav__text">
                Communication
            </p>
            <div class="nav__progress">
            </div>
        </li>
        <li class="nav__item">
            <p class="nav__text">
                Creativity
            </p>
            <div class="nav__progress">
            </div>
        </li>
        <li class="nav__item">
            <p class="nav__text">
                Teamwork
            </p>
            <div class="nav__progress">
            </div>
        </li>
        <li class="nav__item">
            <p class="nav__text">
                Organization
            </p>
            <div class="nav__progress">
            </div>
        </li>
        <li class="nav__item">
            <p class="nav__text">
                Leadership
            </p>
            <div class="nav__progress">
            </div>
        </li>
        <li class="nav__item">
            <p class="nav__text">
                Teamplayer
            </p>
            <div class="nav__progress">
            </div>
        </li>
    </ul>
</div>
</body>
</html>