body {
    margin: 0;
}

.main {
    margin: 100px 106px;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__text {
    margin: 0;
    padding: 44px 0 18px 0;
    font-family: "Roboto";
    font-size: 31px;
    color: #1a1a1a;
}

.nav__title {
    display: inline-block;
    margin: 0;
    font-family: "Roboto";
    padding: 18px 76px 18px 41px;
    font-size: 42px;
    background-color: #e8c734;
    font-weight: bold;
    letter-spacing: 0.015em;
}

.nav__progress {
    margin: 0;
    padding: 0;
    height: 28px;
    width: 620px;
    border: 1px solid #ccccce;
    position: relative;
}

.nav__progress:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #bfc0c1;
}

.nav__item:nth-child(odd) .nav__progress:before {
    width: 74%;
}

.nav__item:nth-child(even) .nav__progress:before {
    width: 88%;
}